In [2]:
import pandas as pd
import pydoc

DB = {'servername':'XBLAPTOP\\SQLEXPRESS', 'database':'AdventureWorks2019'}

# Connection met Datawarehouse maken

In [3]:
import pyodbc
import pandas as pd

server = 'dwhunitedoutdoors.database.windows.net'
database = 'DWH_United_Outdoors'
username = 'onderzoeker'
password = 'Wachtwoord1.'
driver = 'ODBC Driver 17 for SQL Server'

connection_string = (
    f'DRIVER={{{driver}}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
    'Encrypt=yes;'
    'TrustServerCertificate=no;'
    'Connection Timeout=30;'
)

export_conn = pyodbc.connect(connection_string)

query = "SELECT * FROM table_test" 

df = pd.read_sql(query, export_conn)

export_conn.close()

print(df)

C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1893206484.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   naam wachtwoord
0   jan        ww1
1  henk        ww2
2  bert        ww3
3  otto        ww4

# Connection met AdventureWorks maken

In [32]:
import pyodbc
import pandas as pd

server = 'XBLAPTOP\SQLEXPRESS'
database = 'AdventureWorks2019'
driver = 'ODBC Driver 17 for SQL Server'

connection_string = (
    f'DRIVER={{{driver}}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    'Trusted_Connection=yes;'
)


import_conn = pyodbc.connect(connection_string)

query = "SELECT * FROM HumanResources.Department" 

df = pd.read_sql(query, import_conn)

print(df)

    DepartmentID                        Name  \
0              1                 Engineering
1              2                 Tool Design
2              3                       Sales
3              4                   Marketing
4              5                  Purchasing
5              6    Research and Development
6              7                  Production
7              8          Production Control
8              9             Human Resources
9             10                     Finance
10            11        Information Services
11            12            Document Control
12            13           Quality Assurance
13            14  Facilities and Maintenance
14            15      Shipping and Receiving
15            16                   Executive

                               GroupName ModifiedDate
0               Research and Development   2008-04-30
1               Research and Development   2008-04-30
2                    Sales and Marketing   2008-04-30
3                    Sales and Marketing   2008-04-30
4                   Inventory Management   2008-04-30
5               Research and Development   2008-04-30
6                          Manufacturing   2008-04-30
7                          Manufacturing   2008-04-30
8   Executive General and Administration   2008-04-30
9   Executive General and Administration   2008-04-30
10  Executive General and Administration   2008-04-30
11                     Quality Assurance   2008-04-30
12                     Quality Assurance   2008-04-30
13  Executive General and Administration   2008-04-30
14                  Inventory Management   2008-04-30
15  Executive General and Administration   2008-04-30

<>:4: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\S'
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\3102733710.py:4: SyntaxWarning: invalid escape sequence '\S'
  server = 'XBLAPTOP\SQLEXPRESS'
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\3102733710.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, import_conn)

## HumanResources tabellen naar DataFrame

In [28]:
HumanResources_Department = pd.read_sql_query("SELECT * FROM HumanResources.Department", import_conn)
HumanResources_Shift = pd.read_sql_query("SELECT * FROM HumanResources.Shift", import_conn)

# HumanResources_Employee = pd.read_sql_query("SELECT * FROM HumanResources.Employee", import_conn) Werkt niet ivm unsupported datatype

query_employee = """
SELECT BusinessEntityID, NationalIDNumber, LoginID, JobTitle, CAST(BirthDate AS DATETIME) AS BirthDate, 
       MaritalStatus, Gender, HireDate, SalariedFlag, VacationHours, SickLeaveHours, CurrentFlag, 
       CAST(ModifiedDate AS DATETIME) AS ModifiedDate
FROM HumanResources.Employee
"""

HumanResources_Employee = pd.read_sql_query(query_employee, import_conn)

C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\4221432637.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  HumanResources_Department = pd.read_sql_query("SELECT * FROM HumanResources.Department", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\4221432637.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  HumanResources_Shift = pd.read_sql_query("SELECT * FROM HumanResources.Shift", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\4221432637.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  HumanResources_Employee = pd.read_sql_query(query_employee, import_conn)

## Person tabellen naar DataFrame

In [36]:
Person_StateProvince = pd.read_sql_query("SELECT * FROM Person.StateProvince", import_conn)
Person_CountryRegion = pd.read_sql_query("SELECT * FROM Person.CountryRegion", import_conn)
Person_Person = pd.read_sql_query("SELECT * FROM Person.Person", import_conn)

# Person_Address = pd.read_sql_query("SELECT * FROM Person.Address", import_conn)

query_address = """
    SELECT AddressID, AddressLine1, AddressLine2, City, StateProvinceID, PostalCode, 
           CAST(SpatialLocation AS VARCHAR(MAX)) AS SpatialLocation, 
           CAST(rowguid AS VARCHAR(36)) AS rowguid, 
           CAST(ModifiedDate AS DATETIME) AS ModifiedDate
    FROM Person.Address
    """

Person_Address = pd.read_sql_query(query_address, import_conn)

Person_AddressType = pd.read_sql_query("SELECT * FROM Person.AddressType", import_conn)

C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\3705861008.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Person_StateProvince = pd.read_sql_query("SELECT * FROM Person.StateProvince", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\3705861008.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Person_CountryRegion = pd.read_sql_query("SELECT * FROM Person.CountryRegion", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\3705861008.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Person_Person = pd.read_sql_query("SELECT * FROM Person.Person", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\3705861008.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Person_Address = pd.read_sql_query(query_address, import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\3705861008.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Person_AddressType = pd.read_sql_query("SELECT * FROM Person.AddressType", import_conn)

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,None,Bothell,79,98011,POINT (-122.164644615406 47.7869921906598),9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04
1,2,9833 Mt. Dias Blv.,None,Bothell,79,98011,POINT (-122.250185528911 47.6867097047995),32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30
2,3,7484 Roundtree Drive,None,Bothell,79,98011,POINT (-122.274625789912 47.7631154083121),4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07
3,4,9539 Glenside Dr,None,Bothell,79,98011,POINT (-122.335726442416 47.7392386259644),E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03
4,5,1226 Shoe St.,None,Bothell,79,98011,POINT (-122.091323832402 47.7010357742081),FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19
...,...,...,...,...,...,...,...,...,...
19609,32517,177 11th Ave,None,Sammamish,79,98074,POINT (-121.991733454732 47.6752081880636),2F76ECD8-B22C-4353-BE61-09FE000E13CE,2008-12-29
19610,32518,8040 Hill Ct,None,Redmond,79,98052,POINT (-122.081764650711 47.6584503209841),0E5F2D4F-C38F-406C-9169-8CCD754DBF94,2009-01-19
19611,32519,137 Mazatlan,None,Seattle,79,98104,POINT (-122.25660143159 47.5510221864953),7B2B1EE6-43A4-426D-8A7D-54DD451F716B,2009-02-11
19612,32520,5863 Sierra,None,Bellevue,79,98004,POINT (-122.10628750236 47.6010888951568),F72A65AD-0FD0-42FD-8760-4B83DE543926,2009-01-15
19613,32521,7145 Matchstick Drive,None,Sammamish,79,98074,POINT (-122.064957784537 47.5799435098978),868501B7-4B9C-4F27-896B-342689EA5980,2009-01-15

## Sales tabellen naar DataFrame

In [43]:
Sales_SpecialOfferProduct = pd.read_sql_query("SELECT * FROM Sales.SpecialOfferProduct", import_conn)
Sales_SpecialOffer = pd.read_sql_query("SELECT * FROM Sales.SpecialOffer", import_conn)
Sales_SalesReason = pd.read_sql_query("SELECT * FROM Sales.SalesReason", import_conn)
Sales_SalesOrderHeaderSalesReason = pd.read_sql_query("SELECT * FROM Sales.SalesOrderHeaderSalesReason", import_conn)
Sales_SalesTaxRate = pd.read_sql_query("SELECT * FROM Sales.SalesTaxRate", import_conn)
Sales_CountryRegionCurrency = pd.read_sql_query("SELECT * FROM Sales.CountryRegionCurrency", import_conn)
Sales_Customer = pd.read_sql_query("SELECT * FROM Sales.Customer", import_conn)
Sales_Currency = pd.read_sql_query("SELECT * FROM Sales.Currency", import_conn)
Sales_CurrencyRate = pd.read_sql_query("SELECT * FROM Sales.CurrencyRate", import_conn)
Sales_SalesOrderHeader = pd.read_sql_query("SELECT * FROM Sales.SalesOrderHeader", import_conn)
Sales_SalesPerson = pd.read_sql_query("SELECT * FROM Sales.SalesPerson", import_conn)
Sales_Store = pd.read_sql_query("SELECT * FROM Sales.Store", import_conn)
Sales_SalesTerritory = pd.read_sql_query("SELECT * FROM Sales.SalesTerritory", import_conn)

C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_SpecialOfferProduct = pd.read_sql_query("SELECT * FROM Sales.SpecialOfferProduct", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_SpecialOffer = pd.read_sql_query("SELECT * FROM Sales.SpecialOffer", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_SalesReason = pd.read_sql_query("SELECT * FROM Sales.SalesReason", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_SalesOrderHeaderSalesReason = pd.read_sql_query("SELECT * FROM Sales.SalesOrderHeaderSalesReason", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_SalesTaxRate = pd.read_sql_query("SELECT * FROM Sales.SalesTaxRate", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_CountryRegionCurrency = pd.read_sql_query("SELECT * FROM Sales.CountryRegionCurrency", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_Customer = pd.read_sql_query("SELECT * FROM Sales.Customer", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_Currency = pd.read_sql_query("SELECT * FROM Sales.Currency", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_CurrencyRate = pd.read_sql_query("SELECT * FROM Sales.CurrencyRate", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_SalesOrderHeader = pd.read_sql_query("SELECT * FROM Sales.SalesOrderHeader", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_SalesPerson = pd.read_sql_query("SELECT * FROM Sales.SalesPerson", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_Store = pd.read_sql_query("SELECT * FROM Sales.Store", import_conn)
C:\Users\xavie\AppData\Local\Temp\ipykernel_30404\1422925156.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Sales_SalesTerritory = pd.read_sql_query("SELECT * FROM Sales.SalesTerritory", import_conn)